In [1]:
import pandas as pd

## Weather data annual aggregations

In [2]:
#Import merged weather data
df = pd.read_csv("weather_data.csv")

In [5]:
#Set date column as datetime
df['Date Local'] = pd.to_datetime(df['Date Local'])

In [8]:
#Create a new column with the year only
df['Year'] = df['Date Local'].dt.year

In [11]:
#Make annual aggregations
df_yearly = df.groupby(['Year','State Code','State Name']).agg({'RH(%)':'mean', 
                                                    'Temperature(C)':'mean', 
                                                    'Temperature(C) Max Value':'mean', 
                                                    'Barometric pressure(mb)':'mean', 
                                                    'Wind Speed(kn)':'mean', 
                                                    'Wind Direction(deg)':'mean'
                                                   }).reset_index()

In [14]:
#Create a unique id for each value
df_yearly['year_meas_id'] = df_yearly['State Code'].astype(str) + '_' + df_yearly['Year'].astype(str)

In [16]:
df_yearly.head()

,Year,State Code,State Name,RH(%),Temperature(C),Temperature(C) Max Value,Barometric pressure(mb),Wind Speed(kn),Wind Direction(deg),year_meas_id
0,2004,1,Alabama,72.174107,NaN,NaN,NaN,NaN,NaN,1_2004
1,2004,2,Alaska,73.875565,0.086509,4.048600,NaN,1.964803,176.855277,2_2004
2,2004,4,Arizona,39.861618,18.867207,25.458893,NaN,5.613356,169.300873,4_2004
3,2004,5,Arkansas,70.713115,NaN,NaN,NaN,NaN,NaN,5_2004
4,2004,6,California,61.169253,15.986932,21.966234,987.820343,3.877942,189.534512,6_2004

In [17]:
#Export to csv
df_yearly.to_csv("weather_data_yearly.csv", index=False)