In [1]:
import pandas as pd

## Selecting California and Utah for air quality and AQI data

In [3]:
#Import daily air quality data
param_all = pd.read_csv("air_data_merged.csv")

C:\Users\a_lag\AppData\Local\Temp\ipykernel_16828\824056712.py:1: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  param_all = pd.read_csv("air_data_merged.csv")

In [4]:
param_all.head()

,State Code,State Name,County Code,County Name,City Name,Site Num,Datum,Latitude,Longitude,Date Local,...,NO2(ppm) Max Hour,PM2_5(µg/m³ LC),PM2_5(µg/m³ LC) Max Value,PM2_5(µg/m³ LC) Max Hour,PM10 Tot_0-10um STP(μg/m3),PM10 Tot_0-10um STP(μg/m3) Max Value,PM10 Tot_0-10um STP(μg/m3) Max Hour,CO(ppm),CO(ppm) Max Value,CO(ppm) Max Hour
0,10,Delaware,1,Kent,Not in a city,2,WGS84,38.986672,-75.5568,2004-01-01,...,NaN,7.6,7.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,10,Delaware,1,Kent,Not in a city,2,WGS84,38.986672,-75.5568,2004-01-04,...,NaN,16.5,16.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,10,Delaware,1,Kent,Not in a city,2,WGS84,38.986672,-75.5568,2004-01-07,...,NaN,6.3,6.3,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,10,Delaware,1,Kent,Not in a city,2,WGS84,38.986672,-75.5568,2004-01-10,...,NaN,6.7,6.7,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,10,Delaware,1,Kent,Not in a city,2,WGS84,38.986672,-75.5568,2004-01-13,...,NaN,8.3,8.3,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Keeping only Utah and California
filtered_df = param_all[param_all['State Name'].isin(['Utah', 'California'])]
filtered_df

,State Code,State Name,County Code,County Name,City Name,Site Num,Datum,Latitude,Longitude,Date Local,...,NO2(ppm) Max Hour,PM2_5(µg/m³ LC),PM2_5(µg/m³ LC) Max Value,PM2_5(µg/m³ LC) Max Hour,PM10 Tot_0-10um STP(μg/m3),PM10 Tot_0-10um STP(μg/m3) Max Value,PM10 Tot_0-10um STP(μg/m3) Max Hour,CO(ppm),CO(ppm) Max Value,CO(ppm) Max Hour
8355775,49,Utah,11,Davis,Bountiful,4,WGS84,40.902967,-111.884467,2004-01-01,...,4.0,2.500000,2.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN
8355776,49,Utah,11,Davis,Bountiful,4,WGS84,40.902967,-111.884467,2004-01-02,...,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8355777,49,Utah,11,Davis,Bountiful,4,WGS84,40.902967,-111.884467,2004-01-03,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8355778,49,Utah,11,Davis,Bountiful,4,WGS84,40.902967,-111.884467,2004-01-04,...,8.0,3.300000,3.3,0.0,6.0,6.0,0.0,NaN,NaN,NaN
8355779,49,Utah,11,Davis,Bountiful,4,WGS84,40.902967,-111.884467,2004-01-05,...,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11871949,6,California,9,Calaveras,San Andreas,1,NAD83,38.201850,-120.680277,2023-06-26,...,NaN,4.204167,9.0,16.0,14.0,14.0,23.0,NaN,NaN,NaN
11871950,6,California,9,Calaveras,San Andreas,1,NAD83,38.201850,-120.680277,2023-06-27,...,NaN,5.929167,11.0,18.0,17.0,17.0,23.0,NaN,NaN,NaN
11871951,6,California,9,Calaveras,San Andreas,1,NAD83,38.201850,-120.680277,2023-06-28,...,NaN,5.500000,10.0,0.0,17.0,17.0,23.0,NaN,NaN,NaN
11871952,6,California,9,Calaveras,San Andreas,1,NAD83,38.201850,-120.680277,2023-06-29,...,NaN,7.020834,14.0,18.0,20.0,20.0,23.0,NaN,NaN,NaN
11871953,6,California,9,Calaveras,San Andreas,1,NAD83,38.201850,-120.680277,2023-06-30,...,NaN,7.612500,13.0,16.0,21.0,21.0,23.0,NaN,NaN,NaN

In [7]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1673384 entries, 8355775 to 11871953
Data columns (total 31 columns):
 #   Column                                Non-Null Count    Dtype
---  ------                                --------------    -----
 0   State Code                            1673384 non-null  int64
 1   State Name                            1673384 non-null  object
 2   County Code                           1673384 non-null  int64
 3   County Name                           1673384 non-null  object
 4   City Name                             1673384 non-null  object
 5   Site Num                              1673384 non-null  int64
 6   Datum                                 1673384 non-null  object
 7   Latitude                              1673384 non-null  float64
 8   Longitude                             1673384 non-null  float64
 9   Date Local                            1673384 non-null  object
 10  Ozone(ppm)                            1313969 non-null  float64
 11  Ozone(ppm) Max Value                  1313969 non-null  float64
 12  Ozone(ppm) Max Hour                   1313969 non-null  float64
 13  CBSA Name                             1570894 non-null  object
 14  AQI                                   1672370 non-null  float64
 15  measurement_id                        1673384 non-null  object
 16  SO2(ppb)                              244031 non-null   float64
 17  SO2(ppb) Max Value                    244031 non-null   float64
 18  SO2(ppb) Max Hour                     244031 non-null   float64
 19  NO2(ppm)                              784517 non-null   float64
 20  NO2(ppm) Max Value                    784517 non-null   float64
 21  NO2(ppm) Max Hour                     784517 non-null   float64
 22  PM2_5(µg/m³ LC)                       556741 non-null   float64
 23  PM2_5(µg/m³ LC) Max Value             556741 non-null   float64
 24  PM2_5(µg/m³ LC) Max Hour              556741 non-null   float64
 25  PM10 Tot_0-10um STP(μg/m3)            519182 non-null   float64
 26  PM10 Tot_0-10um STP(μg/m3) Max Value  519182 non-null   float64
 27  PM10 Tot_0-10um STP(μg/m3) Max Hour   519182 non-null   float64
 28  CO(ppm)                               510691 non-null   float64
 29  CO(ppm) Max Value                     510691 non-null   float64
 30  CO(ppm) Max Hour                      510691 non-null   float64
dtypes: float64(21), int64(3), object(7)
memory usage: 408.5+ MB

In [8]:
param_all[param_all['State Code'].isin([6, 49])].isna().sum()

State Code                                    0
State Name                                    0
County Code                                   0
County Name                                   0
City Name                                     0
Site Num                                      0
Datum                                         0
Latitude                                      0
Longitude                                     0
Date Local                                    0
Ozone(ppm)                               359415
Ozone(ppm) Max Value                     359415
Ozone(ppm) Max Hour                      359415
CBSA Name                                102490
AQI                                        1014
measurement_id                                0
SO2(ppb)                                1429353
SO2(ppb) Max Value                      1429353
SO2(ppb) Max Hour                       1429353
NO2(ppm)                                 888867
NO2(ppm) Max Value                       888867
NO2(ppm) Max Hour                        888867
PM2_5(µg/m³ LC)                         1116643
PM2_5(µg/m³ LC) Max Value               1116643
PM2_5(µg/m³ LC) Max Hour                1116643
PM10 Tot_0-10um STP(μg/m3)              1154202
PM10 Tot_0-10um STP(μg/m3) Max Value    1154202
PM10 Tot_0-10um STP(μg/m3) Max Hour     1154202
CO(ppm)                                 1162693
CO(ppm) Max Value                       1162693
CO(ppm) Max Hour                        1162693
dtype: int64

In [9]:
#Changing data types dtypes

In [10]:
filtered_df['State Code'] = filtered_df['State Code'].astype(int).astype(str)

C:\Users\a_lag\AppData\Local\Temp\ipykernel_16828\1135364974.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['State Code'] = filtered_df['State Code'].astype(int).astype(str)

In [11]:
filtered_df['County Code'] = filtered_df['County Code'].astype(int).astype(str)

C:\Users\a_lag\AppData\Local\Temp\ipykernel_16828\783650034.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['County Code'] = filtered_df['County Code'].astype(int).astype(str)

In [12]:
filtered_df['Site Num'] = filtered_df['Site Num'].astype(int).astype(str)

C:\Users\a_lag\AppData\Local\Temp\ipykernel_16828\5581520.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['Site Num'] = filtered_df['Site Num'].astype(int).astype(str)

In [13]:
filtered_df['Date Local'] = pd.to_datetime(filtered_df['Date Local'])

C:\Users\a_lag\AppData\Local\Temp\ipykernel_16828\259374053.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['Date Local'] = pd.to_datetime(filtered_df['Date Local'])

In [14]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1673384 entries, 8355775 to 11871953
Data columns (total 31 columns):
 #   Column                                Non-Null Count    Dtype
---  ------                                --------------    -----
 0   State Code                            1673384 non-null  object
 1   State Name                            1673384 non-null  object
 2   County Code                           1673384 non-null  object
 3   County Name                           1673384 non-null  object
 4   City Name                             1673384 non-null  object
 5   Site Num                              1673384 non-null  object
 6   Datum                                 1673384 non-null  object
 7   Latitude                              1673384 non-null  float64
 8   Longitude                             1673384 non-null  float64
 9   Date Local                            1673384 non-null  datetime64[ns]
 10  Ozone(ppm)                            1313969 non-null  float64
 11  Ozone(ppm) Max Value                  1313969 non-null  float64
 12  Ozone(ppm) Max Hour                   1313969 non-null  float64
 13  CBSA Name                             1570894 non-null  object
 14  AQI                                   1672370 non-null  float64
 15  measurement_id                        1673384 non-null  object
 16  SO2(ppb)                              244031 non-null   float64
 17  SO2(ppb) Max Value                    244031 non-null   float64
 18  SO2(ppb) Max Hour                     244031 non-null   float64
 19  NO2(ppm)                              784517 non-null   float64
 20  NO2(ppm) Max Value                    784517 non-null   float64
 21  NO2(ppm) Max Hour                     784517 non-null   float64
 22  PM2_5(µg/m³ LC)                       556741 non-null   float64
 23  PM2_5(µg/m³ LC) Max Value             556741 non-null   float64
 24  PM2_5(µg/m³ LC) Max Hour              556741 non-null   float64
 25  PM10 Tot_0-10um STP(μg/m3)            519182 non-null   float64
 26  PM10 Tot_0-10um STP(μg/m3) Max Value  519182 non-null   float64
 27  PM10 Tot_0-10um STP(μg/m3) Max Hour   519182 non-null   float64
 28  CO(ppm)                               510691 non-null   float64
 29  CO(ppm) Max Value                     510691 non-null   float64
 30  CO(ppm) Max Hour                      510691 non-null   float64
dtypes: datetime64[ns](1), float64(21), object(9)
memory usage: 408.5+ MB

In [16]:
#Dropping unnecessary columns
filtered_df = filtered_df.drop(columns=['AQI', 'CBSA Name'])
filtered_df

,State Code,State Name,County Code,County Name,City Name,Site Num,Datum,Latitude,Longitude,Date Local,...,NO2(ppm) Max Hour,PM2_5(µg/m³ LC),PM2_5(µg/m³ LC) Max Value,PM2_5(µg/m³ LC) Max Hour,PM10 Tot_0-10um STP(μg/m3),PM10 Tot_0-10um STP(μg/m3) Max Value,PM10 Tot_0-10um STP(μg/m3) Max Hour,CO(ppm),CO(ppm) Max Value,CO(ppm) Max Hour
8355775,49,Utah,11,Davis,Bountiful,4,WGS84,40.902967,-111.884467,2004-01-01,...,4.0,2.500000,2.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN
8355776,49,Utah,11,Davis,Bountiful,4,WGS84,40.902967,-111.884467,2004-01-02,...,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8355777,49,Utah,11,Davis,Bountiful,4,WGS84,40.902967,-111.884467,2004-01-03,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8355778,49,Utah,11,Davis,Bountiful,4,WGS84,40.902967,-111.884467,2004-01-04,...,8.0,3.300000,3.3,0.0,6.0,6.0,0.0,NaN,NaN,NaN
8355779,49,Utah,11,Davis,Bountiful,4,WGS84,40.902967,-111.884467,2004-01-05,...,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11871949,6,California,9,Calaveras,San Andreas,1,NAD83,38.201850,-120.680277,2023-06-26,...,NaN,4.204167,9.0,16.0,14.0,14.0,23.0,NaN,NaN,NaN
11871950,6,California,9,Calaveras,San Andreas,1,NAD83,38.201850,-120.680277,2023-06-27,...,NaN,5.929167,11.0,18.0,17.0,17.0,23.0,NaN,NaN,NaN
11871951,6,California,9,Calaveras,San Andreas,1,NAD83,38.201850,-120.680277,2023-06-28,...,NaN,5.500000,10.0,0.0,17.0,17.0,23.0,NaN,NaN,NaN
11871952,6,California,9,Calaveras,San Andreas,1,NAD83,38.201850,-120.680277,2023-06-29,...,NaN,7.020834,14.0,18.0,20.0,20.0,23.0,NaN,NaN,NaN
11871953,6,California,9,Calaveras,San Andreas,1,NAD83,38.201850,-120.680277,2023-06-30,...,NaN,7.612500,13.0,16.0,21.0,21.0,23.0,NaN,NaN,NaN

In [18]:
# Importing daily AQI csv
aqi = pd.read_csv("daily_AQI.csv")
aqi.head()

,State Code,State Name,County Code,County Name,City Name,Site Num,Datum,Latitude,Longitude,Date Local,CBSA Name,measurement_id,max_value,AQI_cr_param
0,10,Delaware,1,Kent,Not in a city,2,WGS84,38.986672,-75.5568,2004-01-01,"Dover, DE",10_1_2_20040101,32.0,AQI_PM2_5
1,10,Delaware,1,Kent,Not in a city,2,WGS84,38.986672,-75.5568,2004-01-04,"Dover, DE",10_1_2_20040104,60.0,AQI_PM2_5
2,10,Delaware,1,Kent,Not in a city,2,WGS84,38.986672,-75.5568,2004-01-07,"Dover, DE",10_1_2_20040107,26.0,AQI_PM2_5
3,10,Delaware,1,Kent,Not in a city,2,WGS84,38.986672,-75.5568,2004-01-10,"Dover, DE",10_1_2_20040110,28.0,AQI_PM2_5
4,10,Delaware,1,Kent,Not in a city,2,WGS84,38.986672,-75.5568,2004-01-13,"Dover, DE",10_1_2_20040113,35.0,AQI_PM2_5

In [19]:
aqi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12349571 entries, 0 to 12349570
Data columns (total 14 columns):
 #   Column          Dtype
---  ------          -----
 0   State Code      int64
 1   State Name      object
 2   County Code     int64
 3   County Name     object
 4   City Name       object
 5   Site Num        int64
 6   Datum           object
 7   Latitude        float64
 8   Longitude       float64
 9   Date Local      object
 10  CBSA Name       object
 11  measurement_id  object
 12  max_value       float64
 13  AQI_cr_param    object
dtypes: float64(3), int64(3), object(8)
memory usage: 1.3+ GB

In [20]:
#Keeping data only from California and Utah
aqi_utah_cal = aqi[aqi['State Name'].isin(['Utah', 'California'])]
aqi_utah_cal

,State Code,State Name,County Code,County Name,City Name,Site Num,Datum,Latitude,Longitude,Date Local,CBSA Name,measurement_id,max_value,AQI_cr_param
8355775,49,Utah,11,Davis,Bountiful,4,WGS84,40.902967,-111.884467,2004-01-01,"Ogden-Clearfield, UT",49_11_4_20040101,10.0,AQI_NO2
8355776,49,Utah,11,Davis,Bountiful,4,WGS84,40.902967,-111.884467,2004-01-02,"Ogden-Clearfield, UT",49_11_4_20040102,42.0,AQI_NO2
8355777,49,Utah,11,Davis,Bountiful,4,WGS84,40.902967,-111.884467,2004-01-03,"Ogden-Clearfield, UT",49_11_4_20040103,41.0,AQI_NO2
8355778,49,Utah,11,Davis,Bountiful,4,WGS84,40.902967,-111.884467,2004-01-04,"Ogden-Clearfield, UT",49_11_4_20040104,37.0,AQI_NO2
8355779,49,Utah,11,Davis,Bountiful,4,WGS84,40.902967,-111.884467,2004-01-05,"Ogden-Clearfield, UT",49_11_4_20040105,44.0,AQI_NO2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11871949,6,California,9,Calaveras,San Andreas,1,NAD83,38.201850,-120.680277,2023-06-26,NaN,6_9_1_20230626,41.0,AQI_ozone
11871950,6,California,9,Calaveras,San Andreas,1,NAD83,38.201850,-120.680277,2023-06-27,NaN,6_9_1_20230627,43.0,AQI_ozone
11871951,6,California,9,Calaveras,San Andreas,1,NAD83,38.201850,-120.680277,2023-06-28,NaN,6_9_1_20230628,44.0,AQI_ozone
11871952,6,California,9,Calaveras,San Andreas,1,NAD83,38.201850,-120.680277,2023-06-29,NaN,6_9_1_20230629,51.0,AQI_ozone
11871953,6,California,9,Calaveras,San Andreas,1,NAD83,38.201850,-120.680277,2023-06-30,NaN,6_9_1_20230630,61.0,AQI_ozone

In [22]:
#Merging AQI data for Utah and California in the df
merg = pd.merge(filtered_df, aqi_utah_cal, on='measurement_id', how='outer')
merg

,State Code_x,State Name_x,County Code_x,County Name_x,City Name_x,Site Num_x,Datum_x,Latitude_x,Longitude_x,Date Local_x,...,County Name_y,City Name_y,Site Num_y,Datum_y,Latitude_y,Longitude_y,Date Local_y,CBSA Name,max_value,AQI_cr_param
0,49,Utah,11,Davis,Bountiful,4,WGS84,40.902967,-111.884467,2004-01-01,...,Davis,Bountiful,4,WGS84,40.902967,-111.884467,2004-01-01,"Ogden-Clearfield, UT",10.0,AQI_NO2
1,49,Utah,11,Davis,Bountiful,4,WGS84,40.902967,-111.884467,2004-01-02,...,Davis,Bountiful,4,WGS84,40.902967,-111.884467,2004-01-02,"Ogden-Clearfield, UT",42.0,AQI_NO2
2,49,Utah,11,Davis,Bountiful,4,WGS84,40.902967,-111.884467,2004-01-03,...,Davis,Bountiful,4,WGS84,40.902967,-111.884467,2004-01-03,"Ogden-Clearfield, UT",41.0,AQI_NO2
3,49,Utah,11,Davis,Bountiful,4,WGS84,40.902967,-111.884467,2004-01-04,...,Davis,Bountiful,4,WGS84,40.902967,-111.884467,2004-01-04,"Ogden-Clearfield, UT",37.0,AQI_NO2
4,49,Utah,11,Davis,Bountiful,4,WGS84,40.902967,-111.884467,2004-01-05,...,Davis,Bountiful,4,WGS84,40.902967,-111.884467,2004-01-05,"Ogden-Clearfield, UT",44.0,AQI_NO2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1673379,6,California,9,Calaveras,San Andreas,1,NAD83,38.201850,-120.680277,2023-06-26,...,Calaveras,San Andreas,1,NAD83,38.201850,-120.680277,2023-06-26,NaN,41.0,AQI_ozone
1673380,6,California,9,Calaveras,San Andreas,1,NAD83,38.201850,-120.680277,2023-06-27,...,Calaveras,San Andreas,1,NAD83,38.201850,-120.680277,2023-06-27,NaN,43.0,AQI_ozone
1673381,6,California,9,Calaveras,San Andreas,1,NAD83,38.201850,-120.680277,2023-06-28,...,Calaveras,San Andreas,1,NAD83,38.201850,-120.680277,2023-06-28,NaN,44.0,AQI_ozone
1673382,6,California,9,Calaveras,San Andreas,1,NAD83,38.201850,-120.680277,2023-06-29,...,Calaveras,San Andreas,1,NAD83,38.201850,-120.680277,2023-06-29,NaN,51.0,AQI_ozone
1673383,6,California,9,Calaveras,San Andreas,1,NAD83,38.201850,-120.680277,2023-06-30,...,Calaveras,San Andreas,1,NAD83,38.201850,-120.680277,2023-06-30,NaN,61.0,AQI_ozone

In [23]:
merg.isna().sum()

State Code_x                                  0
State Name_x                                  0
County Code_x                                 0
County Name_x                                 0
City Name_x                                   0
Site Num_x                                    0
Datum_x                                       0
Latitude_x                                    0
Longitude_x                                   0
Date Local_x                                  0
Ozone(ppm)                               359415
Ozone(ppm) Max Value                     359415
Ozone(ppm) Max Hour                      359415
measurement_id                                0
SO2(ppb)                                1429353
SO2(ppb) Max Value                      1429353
SO2(ppb) Max Hour                       1429353
NO2(ppm)                                 888867
NO2(ppm) Max Value                       888867
NO2(ppm) Max Hour                        888867
PM2_5(µg/m³ LC)                         1116643
PM2_5(µg/m³ LC) Max Value               1116643
PM2_5(µg/m³ LC) Max Hour                1116643
PM10 Tot_0-10um STP(μg/m3)              1154202
PM10 Tot_0-10um STP(μg/m3) Max Value    1154202
PM10 Tot_0-10um STP(μg/m3) Max Hour     1154202
CO(ppm)                                 1162693
CO(ppm) Max Value                       1162693
CO(ppm) Max Hour                        1162693
State Code_y                                  0
State Name_y                                  0
County Code_y                                 0
County Name_y                                 0
City Name_y                                   0
Site Num_y                                    0
Datum_y                                       0
Latitude_y                                    0
Longitude_y                                   0
Date Local_y                                  0
CBSA Name                                102490
max_value                                  1014
AQI_cr_param                               1014
dtype: int64

In [24]:
merg_cols= merg.columns

In [26]:
#Dropping unnecessary columns
merg= merg.drop(columns=merg.filter(regex='_y$').columns)
merg

,State Code_x,State Name_x,County Code_x,County Name_x,City Name_x,Site Num_x,Datum_x,Latitude_x,Longitude_x,Date Local_x,...,PM2_5(µg/m³ LC) Max Hour,PM10 Tot_0-10um STP(μg/m3),PM10 Tot_0-10um STP(μg/m3) Max Value,PM10 Tot_0-10um STP(μg/m3) Max Hour,CO(ppm),CO(ppm) Max Value,CO(ppm) Max Hour,CBSA Name,max_value,AQI_cr_param
0,49,Utah,11,Davis,Bountiful,4,WGS84,40.902967,-111.884467,2004-01-01,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"Ogden-Clearfield, UT",10.0,AQI_NO2
1,49,Utah,11,Davis,Bountiful,4,WGS84,40.902967,-111.884467,2004-01-02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Ogden-Clearfield, UT",42.0,AQI_NO2
2,49,Utah,11,Davis,Bountiful,4,WGS84,40.902967,-111.884467,2004-01-03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Ogden-Clearfield, UT",41.0,AQI_NO2
3,49,Utah,11,Davis,Bountiful,4,WGS84,40.902967,-111.884467,2004-01-04,...,0.0,6.0,6.0,0.0,NaN,NaN,NaN,"Ogden-Clearfield, UT",37.0,AQI_NO2
4,49,Utah,11,Davis,Bountiful,4,WGS84,40.902967,-111.884467,2004-01-05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Ogden-Clearfield, UT",44.0,AQI_NO2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1673379,6,California,9,Calaveras,San Andreas,1,NAD83,38.201850,-120.680277,2023-06-26,...,16.0,14.0,14.0,23.0,NaN,NaN,NaN,NaN,41.0,AQI_ozone
1673380,6,California,9,Calaveras,San Andreas,1,NAD83,38.201850,-120.680277,2023-06-27,...,18.0,17.0,17.0,23.0,NaN,NaN,NaN,NaN,43.0,AQI_ozone
1673381,6,California,9,Calaveras,San Andreas,1,NAD83,38.201850,-120.680277,2023-06-28,...,0.0,17.0,17.0,23.0,NaN,NaN,NaN,NaN,44.0,AQI_ozone
1673382,6,California,9,Calaveras,San Andreas,1,NAD83,38.201850,-120.680277,2023-06-29,...,18.0,20.0,20.0,23.0,NaN,NaN,NaN,NaN,51.0,AQI_ozone
1673383,6,California,9,Calaveras,San Andreas,1,NAD83,38.201850,-120.680277,2023-06-30,...,16.0,21.0,21.0,23.0,NaN,NaN,NaN,NaN,61.0,AQI_ozone

In [28]:
#Renaming Columns
merg.rename(columns={'State Code_x':'State Code', 'State Name_x':'State Name', 'County Code_x':'County Code', 'County Name_x':'County Name',
       'City Name_x':'City Name', 'Site Num_x':'Site Num', 'Datum_x':'Datum', 'Latitude_x':'Latitude', 'Longitude_x':'Longitude',
       'Date Local_x':'Date Local'},inplace=True)

In [29]:
merg.head()

,State Code,State Name,County Code,County Name,City Name,Site Num,Datum,Latitude,Longitude,Date Local,...,PM2_5(µg/m³ LC) Max Hour,PM10 Tot_0-10um STP(μg/m3),PM10 Tot_0-10um STP(μg/m3) Max Value,PM10 Tot_0-10um STP(μg/m3) Max Hour,CO(ppm),CO(ppm) Max Value,CO(ppm) Max Hour,CBSA Name,max_value,AQI_cr_param
0,49,Utah,11,Davis,Bountiful,4,WGS84,40.902967,-111.884467,2004-01-01,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"Ogden-Clearfield, UT",10.0,AQI_NO2
1,49,Utah,11,Davis,Bountiful,4,WGS84,40.902967,-111.884467,2004-01-02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Ogden-Clearfield, UT",42.0,AQI_NO2
2,49,Utah,11,Davis,Bountiful,4,WGS84,40.902967,-111.884467,2004-01-03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Ogden-Clearfield, UT",41.0,AQI_NO2
3,49,Utah,11,Davis,Bountiful,4,WGS84,40.902967,-111.884467,2004-01-04,...,0.0,6.0,6.0,0.0,NaN,NaN,NaN,"Ogden-Clearfield, UT",37.0,AQI_NO2
4,49,Utah,11,Davis,Bountiful,4,WGS84,40.902967,-111.884467,2004-01-05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Ogden-Clearfield, UT",44.0,AQI_NO2

In [30]:
merg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1673384 entries, 0 to 1673383
Data columns (total 32 columns):
 #   Column                                Non-Null Count    Dtype
---  ------                                --------------    -----
 0   State Code                            1673384 non-null  object
 1   State Name                            1673384 non-null  object
 2   County Code                           1673384 non-null  object
 3   County Name                           1673384 non-null  object
 4   City Name                             1673384 non-null  object
 5   Site Num                              1673384 non-null  object
 6   Datum                                 1673384 non-null  object
 7   Latitude                              1673384 non-null  float64
 8   Longitude                             1673384 non-null  float64
 9   Date Local                            1673384 non-null  datetime64[ns]
 10  Ozone(ppm)                            1313969 non-null  float64
 11  Ozone(ppm) Max Value                  1313969 non-null  float64
 12  Ozone(ppm) Max Hour                   1313969 non-null  float64
 13  measurement_id                        1673384 non-null  object
 14  SO2(ppb)                              244031 non-null   float64
 15  SO2(ppb) Max Value                    244031 non-null   float64
 16  SO2(ppb) Max Hour                     244031 non-null   float64
 17  NO2(ppm)                              784517 non-null   float64
 18  NO2(ppm) Max Value                    784517 non-null   float64
 19  NO2(ppm) Max Hour                     784517 non-null   float64
 20  PM2_5(µg/m³ LC)                       556741 non-null   float64
 21  PM2_5(µg/m³ LC) Max Value             556741 non-null   float64
 22  PM2_5(µg/m³ LC) Max Hour              556741 non-null   float64
 23  PM10 Tot_0-10um STP(μg/m3)            519182 non-null   float64
 24  PM10 Tot_0-10um STP(μg/m3) Max Value  519182 non-null   float64
 25  PM10 Tot_0-10um STP(μg/m3) Max Hour   519182 non-null   float64
 26  CO(ppm)                               510691 non-null   float64
 27  CO(ppm) Max Value                     510691 non-null   float64
 28  CO(ppm) Max Hour                      510691 non-null   float64
 29  CBSA Name                             1570894 non-null  object
 30  max_value                             1672370 non-null  float64
 31  AQI_cr_param                          1672370 non-null  object
dtypes: datetime64[ns](1), float64(21), object(10)
memory usage: 408.5+ MB

In [31]:
merg['State Name'].unique()

array(['Utah', 'California'], dtype=object)

In [32]:
#Saving the final df for Utan and California to csv

In [33]:
merg.to_csv("daily_Cal&Utah.csv", index=False, encoding='utf-8')